body{
    background-color: #dc7d09ee;
}

.navbar{
    font-size: 15pt;
}

.navbar img{
    width: 10%;
    height: 20%;
}

.navbar-nav .nav-link {
  transition: transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.dropdown-menu {
  transition: all 0.3s ease;
}

.custom-carousel img {
  height: 300pt;       
  object-fit: cover;  
}

.custom-carousel {
  margin: auto;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item img {
  transition: transform 1.5s ease;
}

.carousel-item.active img {
  transform: scale(1.05);
}

.tron-uk img{
    height: 220pt;
    align-items: center;
    margin-left: 70px;
}

.gap-6 { gap: 20rem;}

.uku{
    font-size: 13pt;
}
